<div class="row">
    <div class="col-md-6">
        <div class="card bg-light rounded-0">
            <div class="card-header">Config Reactive Form</div>
            <div class="card-body">
                <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="cfgr-server">Server</label>
                        <input [class.is-invalid]="serverInvalid()"
                               [class.bg-warning]="serverWarn()"
                               type="text"
                               class="form-control" id="cfgr-server" formControlName="server" placeholder="Enter server name or ip">
                        <small [class.d-none]="serverHideError()" class="text-danger">Server is required</small>
                    </div>
                    <div class="form-group">
                        <label for="cfgr-user">User</label>
                        <input [class.is-invalid]="userInvalid()"
                               [class.bg-warning]="userWarn()"
                               class="form-control" id="cfgr-user" type="text" formControlName="user">
                        <small [class.d-none]="userHideError()" class="text-danger">User is required</small>
                    </div>
                    <div class="form-group">
                        <label for="cfgr-password">Password</label>
                        <input [class.is-invalid]="passwordInvalid()"
                               [class.bg-warning]="passwordWarn()"
                               class="form-control" id="cfgr-password" type="password" formControlName="password">
                    </div>
                    <button type="submit" [disabled]="submitDisabled()" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
